[submodule "SDK"]
	path = SDK
	url = https://github.com/Scirra/Construct-Addon-SDK.git
[submodule "test/fixtures/construct3-sample"]
	path = test/fixtures/construct3-sample
	url = git@github.com:GenvidTechnologies/construct3-sample.git
